@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Roboto", sans-serif;
font-family: "Anton", sans-serif;
font-family: "Roboto Mono", monospace; */

:root {
    --redColor: #d70e0e;
    --redStrongColor: #940e0e;
    --creamColor: #FFF7EE;
    --lgBlueColor: #add8e6;
    --blueColor: #4892ab;
    --greenColor: #13b113;
    --greenStrongColor:#096a0e;
    --orangeColor: #d63e23;
    --yellowColor: #f1e836;
    --yellowStrongColor: #b39916;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: var(--lgBlueColor);
    height: 100vh;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--creamColor);
    width: 100vw;
    height: 70px;

    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 5px #0005;
    font-family: sans-serif;

    .logo{
        height: 50px;
        width: 50px;
        background-image: url(https://www.clipartmax.com/png/middle/291-2916067_pokemon-egg-png-pokemon-egg-png.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .title{
        display: flex;
        align-items: center;
    
        >:first-child{
            margin: 0 10px;
            color: var(--greenColor);
            font-size: 2.5rem;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: var(--greenStrongColor);
            text-shadow: -3px 3px 5px #0005;
        }
    
        >:nth-child(2){
            color: var(--orangeColor);
            font-size: 2.1rem;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: var(--redStrongColor);
            text-shadow: -3px 3px 5px #0005;
        }
    
        >:last-child{
            color: #f1e836;
            font-size: 2.5rem;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #b39916;
            text-shadow: -3px 3px 5px #0005;
        }
    }
}



main{
    display: flex;
    align-items: center;
    
    height: 100%;

    >section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        background-image: url(https://static.vecteezy.com/system/resources/previews/004/968/002/non_2x/cute-abstract-modern-background-free-vector.jpg);
        background-position: center center;
        background-size: cover;

        min-width: 400px;
        height: 500px;
        border-radius: 10px;
        box-shadow: -3px 3px 5px #0005;         

        >.system-style{
            height: 50px;
            width: 100%;
            border-radius: 10px;
            background-color: var(--lgBlueColor);
            border: 2px solid var(--blueColor);
        }

        >.tamagotchi-interactions{
            display: flex;
            gap: 10px;
            overflow: hidden;
            padding: 0 10px;
            >div{
                /* tirar essa parte aqui depois */
                flex: 1;
                border: 1px solid red;
            }

            >.life-bar-container{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex: 2;

                >ion-icon{
                    font-size: 1.4rem;
                    color: var(--redColor);
                }

                >.life-bar-length{
                    width: 100px;
                    height: 20px;
                    border: 2px solid;
                    border-radius: 15px;
                    overflow: hidden;

                    >.life-inner-content{
                        width: 100%;
                        height: 100%;
                        background-color: var(--redColor);
                        border-radius: 0 3px 3px 0;
                    }
                }
            }
        }

        >.tamagotchi-body{
            height: 100%;
            width: 80%;
            margin: 20px 0;
            position: relative;

            
            border-radius: 50%;
            box-shadow: inset 0px 0px 10px #fff;
            background-image: url(./media/filed.png);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            >.egg{
                position: absolute;
                top: 5%;
                right: 50%;
                transform: translate(50%, 50%);

                height: 200px;
                width: 200px;
                background-image: url(./media/egg.webp);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                filter: drop-shadow(0 20px 10px #000000cd);
            }
        }

        >.tamagotchi-buttons{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 20px;
            width: fit-content;

            >button{
                display: flex;
                align-items: center;
                justify-content: center;
                
                font-size: 1.5rem;
                padding: 5px;
                background-color: #f8f5dd;
                border: none;
                border-radius: 5px;
                box-shadow: -3px 3px 10px #0005;
            }

            >button:hover{
                cursor: pointer;
                box-shadow: inset 0 0 5px #0005;
            }

            >:first-child{
                color: rgb(0, 115, 255);
            }

            >:nth-child(2){
                color: #d70e0e;
            }

            >:nth-child(3){
                color: #0e11d7;
            }

            >:last-child{
                color: #d7510e;
            }
        }
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 90px;

    background-color: #FFF7EE;

    >p{
        margin-right: 10px;
        font-size: 1.1rem;
        cursor: default;
        font-family: "Roboto Mono", monospace;
    }

    >div{
        display: flex;
        gap: 10px;
        font-size: 2rem;

        >ion-icon:hover{
            cursor: pointer;
            color: #d63e23;
            transform: translateY(-5px);
            transition: .5s all;
        }
    }
}